@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.sbar::-webkit-scrollbar {
  width: 0;
}

input:-webkit-autofill {
  -webkit-transition: all 100000000s !important;
}
